<%# <div container="class"> %>
<h1>This is my  <%= @list.name %> List</h1>
<%# </div> %>
<div>
<%= link_to "Add a movie bookmark", new_list_bookmark_path(@list) %>
  <ul>
    <% @list.bookmarks.each do |bookmark| %>
      <li><%= bookmark.movie.title %>
      <%= link_to "Delete",
        bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </li>
  </ul>
</div>



<% end %>
